################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ElektaAppointment/bin/Debug/netcoreapp3.1
/ElektaAppointment/obj
/ElektaAppointment/.vs/ElektaAppointment
